body {
    color: white;
    font-family: 'Oswald', sans-serif;
}

nav {
    background-color: black !important;
}

#initVerse {
    background-color: transparent;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 10px;
}

.sidenav-trigger {
    float: unset !important;
    position: unset !important;
    z-index: unset !important;
    height: unset !important;
    margin: unset !important;
}
input {
    color: white;
}
.brand-logo {
    margin-top: -30px;
}

.material-icons {
    display: inline !important;
    vertical-align: middle !important;
}

#game-view {
    background-size: 50vh;
    background:url("assets/static/background.png") no-repeat center;
}

li {
    margin-right: 10px;
    margin-left: 10px;
}

#modal2 {
    background-color: transparent;
}